<nav role="navigation" class="navbar">
  <div class="nav-header">
    <div class="nav-brand">
      <!-- Logo -->
      <a routerLink="" class="logo">
        <h2 class="logoText">Logo</h2>
        <!-- <img src="./" alt="Logo"> -->
      </a>

      <!-- Title -->
      <!-- <div class="nav-title"></div> -->
    </div>
  </div>

  <input type="checkbox" id="toggler">
  <label for="toggler" class="toggle-menu-show"><img src="../../../assets/bars-solid.svg" alt="cross"></label>

  <div class="navigation">
    <ul class="nav-links">
      <li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLink="/project" class="nav-link">Projects</a></li>
      <li class="nav-item"><a routerLink="/feedback" class="nav-link">Feedback</a></li>
      <li class="nav-item"><a routerLink="/login" class="nav-link">profile</a></li>
      <label for="toggler" class="toggle-menu-hide"><img src="../../../assets/xmark-solid.svg" alt="cross"></label>
    </ul>
  </div>
</nav>