<div class="NavBar">
    <app-nav-bar></app-nav-bar>
</div>

<div class="container">
    <div class="row align-items-center">
      <div class="col-sm mainHead">
          <h1>Hi, hello there <br> Lets play Jenshin togather</h1>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit officia, iusto magni quasi at ipsum asperiores voluptatum culpa! Recusandae explicabo sequi corrupti incidunt a. Tempora culpa praesentium ad obcaecati nisi!</p>
          <button class="btn">Sign in/up</button>
          <button class="btn">check out some projects</button>
      </div>
      <div class="col-sm headImage">
        <img src="../../../assets/log.svg" alt="" srcset="">
      </div>
    </div>
  </div>